.home_wrapper
  //Search Form
  = form_tag '/', method: :get, class: 'form-horizontal' do
    .col-sm-6.col-sm-offset-3
      .form-group
        %label.control-label.col-sm-2 Search
        .col-sm-10
          = text_field_tag :k, params[:k], class: 'form-control'
  .clearfix

  .col-sm-4
    //Iframe for Wikipedia Search Page
    %h4
      Wikipedia
    %iframe{src: wikipedia_url, width: '100%', height: 700 }

  .col-sm-4
    //Modified Scaper for IMDB Search Page
    %h4
      IMDB
    - if @imdb.any?
      - @imdb.each do |items|
        - items.each_pair do |key, values|
          .panel.panel-default
            %h5
              = key
            %ul.list-group.results
              - values.each do |item|
                %li.list-group-item
                  %span.pull-left
                    = image_tag item[:img]
                  = link_to item[:title], 'http://imdb.com' + item[:url].to_s, target: '_blank'
    - else
      Enter keyword to display results

  .col-sm-4
    //Iframe for Rotten Tomatoes Search Page
    %h4
      Rotten Tomatoes
    %iframe{src: rotten_tomatoes_url, height: 700, width: '100%'}

